# Ignore all experiments except example
experiments/*
experiments/example/

# RStudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore macOS DS_Store files (anywhere in the repository)
.DS_Store
._.DS_Store
**/.DS_Store



# Ignore example config files
experiments/example/config/generate_diann_spectral_library.cfg
experiments/example/config/run_diann.cfg

# Ignore database resources
experiments/example/input/database_resources/

# Ignore output files
output/
experiments/example/output/

# Ignore logs files
experiments/example/logs/
experiments/example/config/

# Ignore any of the internal snakemake files
.snakemake

# Ignore any apptainer files
apptainer/*.sif

# Ignore any raw files 
*.raw


# Ignore any database resources. Files are too large to be included in the repository.
resources/

*.fasta
*.speclib
*.raw
*.lz4
*.index
*.fasta
*.speclib
*.raw
*.raw.quant
*.lz4
*.index

# Rust specific files
.cargo/
.rustup/
**/target/

#
